


.row{
  display: flex;
  align-items: center;
  margin: 0px 100px 0 100px;
  margin-right: 2rem;
  margin-top: 2rem;
}

.btn-list-product{
  display: flex;
  justify-content: flex-end;
  flex: 20%;
  margin-right: 3rem;
}

.h2-form-cad-product{
  margin: 20px 50px 10px 0px;
  flex: 80%;
}
