

  <div class="row">
    <div class="col-left">
      <h2 style="margin: 0px 100px 0 100px;">
        <strong>
          Listing products
        </strong>
      </h2>
    </div>
    <div class="col-right">
      <div class="action-container">
        <a [routerLink]="['/create-product']" mat-flat-button style="text-decoration: none; margin-top: 1rem; " color="primary">Criar produto</a>
      </div>
    </div>
  </div>

<div class="cards">
  @for (product of products; track product.id) {
    <app-card [product]="product"></app-card>
  }
</div>

